html{
    min-height: 100%;
}

body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;
    background-color: rgb(116, 124, 168);
    max-width: 100%;
    overflow-x: hidden;
}

body, .container, .option-container{
    display: flex;
    flex-direction: column;
}

body, .container{
    align-items: center;
    padding: 70px;
}
.container{
    height: 900px;
    padding-top: 30px;
    border-radius: 20px;
    background-color: rgb(79, 93, 218);
    box-shadow: 1px 40px rgb(57, 66, 148);
}

.grid-content{
    background-color: white;
}

.option-container{
    gap: 30px;
}

.buttons{
    width: 500px;
    display: flex;
    justify-content:space-evenly;
}

button{
    user-select: none;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border: none;
    border-radius: 7px;
    width: 100px;
    height: 30px;
}


.grid-content{
    user-select: none;
    display: flex;
    flex-direction: column;
    max-width: 600px;
    max-height: 600px;
    min-width: 600px;
    min-height: 600px;
    margin-bottom: 70px;
}

.grid-row{
    display: flex;
    flex: 1 1 auto;
}

.grid-square{
    flex: 1 1 auto;
    
}

.slide-container{
    display: flex;
    flex-direction: column;
    min-width: 200px;
    max-width: 600px;
}
.slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 5px; /* Specified height */
    background: rgb(35, 42, 100); /* Grey background */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
    margin-bottom: 15px;
  }

.slider::-webkit-slider-thumb{
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: rgb(47, 61, 192);
    cursor: pointer;
}


.size-text{
    align-self: center;
}

.colorpicker{
    
}